In [1]:
import pandas as pd
import numpy as np
technologies= ({
    'Courses':["SPARK","PYSPARK","HADOOP","PANDAS"],
    'Fee' :['22000','25000','24000','26000'],
    'Duration':['30days','50days','40days','60days'],
    'Discount':['1000','2300','2500','1400']
              })
df = pd.DataFrame(technologies)
print(df)

   Courses    Fee Duration Discount
0    SPARK  22000   30days     1000
1  PYSPARK  25000   50days     2300
2   HADOOP  24000   40days     2500
3   PANDAS  26000   60days     1400

In [2]:
df['Courses'] = df['Courses'].str.lower()
print(df)

   Courses    Fee Duration Discount
0    spark  22000   30days     1000
1  pyspark  25000   50days     2300
2   hadoop  24000   40days     2500
3   pandas  26000   60days     1400

In [6]:
df['Courses'] = df['Courses'].str.upper()
print(df)

   Courses    Fee Duration Discount
0    SPARK  22000   30days     1000
1  PYSPARK  25000   50days     2300
2   HADOOP  24000   40days     2500
3   PANDAS  26000   60days     1400

In [7]:
df['Courses_Length'] = df['Courses'].str.len()
print(df)

   Courses    Fee Duration Discount  Courses_Length
0    SPARK  22000   30days     1000               5
1  PYSPARK  25000   50days     2300               7
2   HADOOP  24000   40days     2500               6
3   PANDAS  26000   60days     1400               6

In [8]:
import pandas as pd

data = pd.DataFrame({

    'age' : [15, 17, 20, 14, 25],

    'name': ["Sample", "New User", "My Name", "Jane Doe", "John Doe"]

})

data['name'].str.len()

0    6
1    8
2    7
3    8
4    8
Name: name, dtype: int64

In [11]:
import numpy as np
import pandas as pd
s = pd.Series(['1. Bat.  ', '2. Dog!\n', '3. fox?\t', np.nan])
s.str.strip()

0    1. Bat.
1    2. Dog!
2    3. fox?
3        NaN
dtype: object

In [12]:
import numpy as np
import pandas as pd
s = pd.Series(["this is my new pen",
               "https://www.w3resource.com/pandas/index.php",
               np.nan])
s.str.split()

0                         [this, is, my, new, pen]
1    [https://www.w3resource.com/pandas/index.php]
2                                              NaN
dtype: object

In [13]:
result = s.str.contains("https")
print(result)

0    False
1     True
2      NaN
dtype: object

In [14]:
result = s.str.replace("my", "i")
print(result)

0                              this is i new pen
1    https://www.w3resource.com/pandas/index.php
2                                            NaN
dtype: object

In [15]:
result = s.str.startswith("https")
print(result)

0    False
1     True
2      NaN
dtype: object

In [16]:
result = s.str.endswith("pen")
print(result)

0     True
1    False
2      NaN
dtype: object

In [19]:
technologies= ({
    'Courses':["SPARK","PYSPARK","HADOOP","PANDAS"],
    'Fee' :['22000','25000','24000','26000'],
    'Duration':['30days','50days','40days','60days'],
    'Discount':['1000','2300','2500','1400']
              })
df = pd.DataFrame(technologies)
df['Courses'] = df['Courses'].str.cat(sep=",")
print(df)

                       Courses    Fee Duration Discount
0  SPARK,PYSPARK,HADOOP,PANDAS  22000   30days     1000
1  SPARK,PYSPARK,HADOOP,PANDAS  25000   50days     2300
2  SPARK,PYSPARK,HADOOP,PANDAS  24000   40days     2500
3  SPARK,PYSPARK,HADOOP,PANDAS  26000   60days     1400

In [20]:
import pandas as pd

technologies = {
    'Courses': ["SPARK", "PYSPARK", "HADOOP", "PANDAS"],
    'Fee': ['22000', '25000', '24000', '26000'],
    'Duration': ['30days', '50days', '40days', '60days'],
    'Discount': ['1000', '2300', '2500', '1400']
}

df = pd.DataFrame(technologies)

result = df['Courses'].str.get(0)

print(result)

0    S
1    P
2    H
3    P
Name: Courses, dtype: object

In [21]:
import pandas as pd

technologies = {
    'Courses': ["SPARK", "PYSPARK", "HADOOP", "PANDAS"],
    'Fee': ['22000', '25000', '24000', '26000'],
    'Duration': ['30days', '50days', '40days', '60days'],
    'Discount': ['1000', '2300', '2500', '1400']
}

df = pd.DataFrame(technologies)
result = df['Courses'].str.slice(1, 3)
print(result)

0    PA
1    YS
2    AD
3    AN
Name: Courses, dtype: object

In [22]:
import pandas as pd

technologies = {
    'Courses': ["SPARK", "PYSPARK", "HADOOP", "PANDAS"],
    'Fee': ['22000', '25000', '24000', '26000'],
    'Duration': ['30days', '50days', '40days', '60days'],
    'Discount': ['1000', '2300', '2500', '1400']
}

df = pd.DataFrame(technologies)

result = df['Courses'].str.find("ARK")

print(result)

0    2
1    4
2   -1
3   -1
Name: Courses, dtype: int64